*{
    box-sizing: border-box;
}

.mt-nav{
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
}

.mt-nav .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
}

.mt-nav .nav-link{
    padding: 42px 0;
    /* border-bottom: 1px solid #E6E6E6; */
}

.mt-active{
    color: #F9B403;
    border-bottom: 1px solid #F9B403;
}

.nav-wrapper{
    padding-top: 26px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    border-bottom: 1px solid #E2E2E2;
}

.header-text{
    font-size: 16px;
    font-weight: 400;
    line-height: 25.04px;
}

.header-cont{
    font-size: 13px;
    font-weight: 500;
    line-height: 20.35px;
}

.header-restaurant{
    font-weight: bold;
    font-size: 20px;
    line-height: 25.04px;
}

.header-rest{
    font-weight: bold;
    font-size: 20px;
    line-height: 25.04px;
    font-style: italic;
}

.mt-logo span{
    font-size: 10px;
    font-weight: 500;
    line-height: 12.13px;
    letter-spacing: 0.265em;
}

.mt-delivery{
    font-weight: 400;
    font-size: 16px;
    line-height: 25.04px;
}

.mt-btn{
    color: black;
    font-size: 16px;
    line-height: 19.41px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.mt-logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo{
    display: flex;
}

.mt-login{
    width: 100px;
    height: 47px;
    border-radius: 10px;
    border: 1px solid #E1E1E1;
}

.mt-basket{
    border: 1px solid #F9CE03;
    width: 140px;
    height: 47px;
    border-radius: 10px;
    background-color: #F9CE03;
}

.mt-basket a{
    text-decoration: none;
    color: black;
    background-color: transparent;
}

.mt-basket span{
    background-color: #F9CE03;
}

.mt-title{
    text-align: center;
    padding-top: 67px;
    padding-bottom: 47px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43.57px;
}

.mt-carousel{
    padding-top: 43px;
}

.mt-content{
    padding-top: 82px;
}

.mt-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -32px;
}

.mt-item{
    width: 25%;
    max-width: 318px;
    padding: 0 32px;
    padding-bottom: 60px;
}

.philadelphia{
    width: 100%;
    max-width: 305px;
    height: 198px;
}

.item-info{
    padding-top: 27px;
    display: flex;
    justify-content: space-between;
}

.item-info-2{
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
}

.item-info-3{
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
}

.item-info-4{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.item-content h3{
    padding-top: 28px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.5px;
}

.item-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 18.9px;
}

.item-price{
    font-weight: 500;
    font-size: 22px;
    line-height: 26.69px;
}

.price-span{
    font-weight: 500;
    font-size: 14px;
    line-height: 16.98px;
}

.item-btn{
    border: 1px solid #F9B403;
    border-radius: 30px;
    width: 80px;
    text-align: center;
}

.plus-btn, .minus-btn{
    border: none;
    background-color: transparent;
}

.item-btn span{
    font-weight: 600;
    font-size: 18px;
}

.item-btn-gray{
    border: 1px solid #E1E1E1;
    border-radius: 30px;
    width: 80px;
    text-align: center;
}

.item-btn-gray span{
    font-weight: 600;
    font-size: 18px;
}

.salats{
    border-color: #F9F9F9;
}

.mt-title-salat{
    text-align: center;
    padding-top: 106px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43.57px;
}

.salat{
    width: 100%;
    max-width: 264px;
    height: 260px;
}

.mt-title-soup{
    text-align: center;
    padding-top: 152px;
    padding-bottom: 106px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43.57px;
}

.soup{
    width: 100%;
    max-width: 269px;
    height: 257px;
}

.mt-title-hot{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 96px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43.57px;
}

.mt-diet{
    padding-bottom: 150px;
}

.mt-title-diet{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 110px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43.57px;
}    

.basket-details{
    padding-top: 90px;
    padding-bottom: 36px;
    border-bottom: 1px solid #E0E0E0;
}

.details-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-n{
    padding-left: 547px;
}

.item-name2{
    padding-right: 20px;
}

.basket-img{
    width: 100%;
    max-width: 170px;
}

.basket-item{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 33px;
    border-bottom: 1px solid #E0E0E0;
}

.basket-h{
    font-weight: 600;
    font-size: 20px;
    line-height: 24.5px;    
}

.text{
    font-weight: 400;
    font-size: 14px;
    line-height: 18.9px;
    padding-right: 25px;
}

.basket-price{
    font-weight: 500;
    font-size: 18px;
    line-height: 21.83px;
}

.price{
    font-weight: 500;
    font-size: 20px;
    line-height: 24.69px;
}

.pl-btn, .min-btn{
    border: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.05px;
}

.basket-quantity span{
    font-size: 20px;
    font-weight: 600;
    line-height: 24.5px;
}

.basket-pay{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.83px;
}

.del-btn{
    border: none;
    padding-right: 20px;
}

.basket-option{
    padding-top: 67px;
}

.option-details{
    display: flex;
    justify-content: space-between;
}

.option-back a{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}

.option-order{
    display: flex;
    gap: 77px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
}

.option-total{
    font-size: 27px;
    font-weight: 600;
    line-height: 33.08px;
}

.option-total span{
    font-size: 22px;
    font-weight: 600;
    line-height: 26.95px;
}

.order-btn{
    padding-top: 45px;
    padding-left: 1090px;
    padding-bottom: 150px;
}

.order-btn button{
    width: 344px;
    height: 72px;
    border-radius: 10px;
    border: 1px solid #F9CE03;
    background-color: #F9CE03;
}

.order-btn button a{
    background-color: transparent;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.83px;
}

.page-title{
    font-weight: 600;
    font-size: 36px;
    line-height: 43.57px;
}

.title{
    display: flex;
    align-items: center;
}

.row{
    display: flex;
    justify-content: space-between;
}

.mt-tab{
    border: none;
    padding-top: 60px;
    padding-bottom: 56px;
}

.mt-order{
    display: flex;
    border-top: 1px solid #D6D6D6;
    padding-top: 40px;
    padding-bottom: 47px;
}

.mt-order:last-child{
    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 52px;
}

.order-title{
    padding-top: 60px;
    padding-bottom: 62px;
    font-weight: 500;
    font-size: 24px;
    line-height: 31.32px;
}

.order-img{
    max-width: 152px;
    height: 120px;
    margin-right: 15px;
}

.order-img2{
    max-width: 130px;
    height: 100px;
    margin-right: 25px;
}

.order-name h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 24.5px;
}

.order-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 18.9px;
}

.order-prc{
    font-weight: 500;
    font-size: 20px;
    line-height: 26.69px;
}

.order-prc span{
    font-weight: 500;
    font-size: 14px;
    line-height: 16.98px;
}

.order-content2{
    padding-top: 62px;
}

.order-1{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: black;
}

.order-total{
    font-weight: 600;
    font-size: 27px;
    line-height: 33.08px;
}

.order-total span{
    font-weight: 600;
    font-size: 22px;
    line-height: 26.95px;   
}

.order-det{
    display: flex;
    gap: 72px;
    padding-top: 140px;
}

.ord-btn{
    background-color: #F9CE03;
}

.ord-btn button{
    width: 344px;
    height: 72px;
    border: 1px solid #F9CE03;
    border-radius: 10px;
    background-color: #F9CE03;
}

.ord-btn button a{
    background-color: transparent;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.83px;
}

.opt-back{
    padding-top: 50px;
}

.opt-back a{
    color: black;
    border-bottom: 1px solid black;
    text-decoration: none;
}

.mt-input{
    width: 337px;
    height: 64px;
}

.mt-input2{
    width: 722px;
    height: 64px;
}

.mt-input3{
    width: 722px;
    height: 138px;
}

.about-content{
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
}

.wrapper-content{
    max-width: 820px;
}

.wrapper-header{
    padding-bottom: 75px;
}

.wrapper-title, .wrapper-text1, .wrapper-text2, .wrapper-text3{
    padding-bottom: 15px;
}

.about-img{
    padding-top: 82px;
    max-width: 1439px;
    padding-bottom: 150px;
}

.error-content{
    text-align: center;
    padding-top: 90px;
}

.error404{
    font-weight: 500;
    font-size: 144px;
    line-height: 187.92px;
    padding-bottom: 40px;
}

.error-text{
    padding-bottom: 52px;
    font-weight: 400;
    font-size: 24px;
    line-height: 31.32px;
}

.er-btn{
    padding-bottom: 150px;
}

.er-btn button{
    width: 344px;
    height: 72px;
    border: 1px solid #F9CE03;
    border-radius: 10px;
    background-color: #F9CE03;
}

.er-btn button a{
    background-color: transparent;
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 22.05px;
}

.footer{
    background-color: #C9CACC;
}

.footer-content{
    padding-top: 144px;
}

.footer-logo{
    display: flex;
    padding-left: 150px;
}

.footer-logo img{
    margin-right: 3px;
    max-width: 50px;
    height: 51px;
}

.footer-restaurant{
    font-weight: bold;
    font-size: 20px;
    line-height: 25.04px;
}

.footer-rest{
    font-weight: bold;
    font-size: 20px;
    line-height: 25.04px;
    font-style: italic;
}

.footer-menu h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 21.78px;
    padding-bottom: 20px;
}

.footer-menu2 h2{
    font-weight: 600;
    font-size: 18px;
    line-height: 21.78px;
    padding-bottom: 28px;
}

.menu-list{
    list-style: none;
    padding-left: 0;
}

.list-item a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
    line-height: 34.85px;
}

.footer-del{
    font-weight: 400;
    font-size: 13px;
    line-height: 20.41px;
}

.footer-cont{
    font-weight: 500;
    font-size: 13px;
    line-height: 20.41px;
}

.hours-item2{
    padding-top: 12px;
}

.footer-days{
    font-weight: 400;
    font-size: 13px;
    line-height: 20.51px;
}

.footer-hours{
    font-weight: 500;
    font-size: 16px;
    line-height: 25.25px;
}

.footer-sm{
    display: flex;
    padding-top: 60px;
    padding-bottom: 57px;
    border-bottom: 1px solid #BFBFBF;
}

.footer-sm-wrapper{
    display: flex;
    gap: 40px;
}

.footer-sm1{
    padding-left: 720px;
}

.footer-sm4{
    padding-left: 180px;
    padding-right: 30px;
}

.footer-copyright{
    text-align: center;
    padding: 32px 0 32px 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 28.44px;
    color: #686868;
}



@media screen and (max-width: 768px){
    .mt-item{
        flex: 0 0 50%;
        max-width: 318px;
        padding: 0 32px;
        padding-bottom: 60px;
    }
}