*{
    box-sizing: border-box;
    background-color: #FEFEFE;
}

.header{
    min-width: 1442px;
    padding-top: 26px;
    padding-left: 242px;
    padding-right: 242px;
    border-bottom: 1px solid #E2E2E2;
    display: flex;
    justify-content: space-between;
}

.mt-delivery{
    display: inline-block;
    padding-top: 78px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25.04px;
    padding-bottom: 35px;
}

.mt-btn{
    padding-top: 73px;
    color: black;
    font-size: 16px;
    line-height: 19.41px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding-bottom: 44px;
}

.mt-login{
    width: 100px;
    height: 47px;
    border-radius: 10px;
    border: 1px solid #E1E1E1;
}

.mt-basket{
    border: 1px solid #F9CE03;
    width: 140px;
    height: 47px;
    border-radius: 10px;
    background-color: #F9CE03;
}

.mt-basket a{
    text-decoration: none;
    color: black;
    background-color: transparent;
}

.mt-basket span{
    background-color: #F9CE03;
}

.container{
    max-width: 1442px;
}

.mt-title{
    text-align: center;
    padding-top: 67px;
    padding-bottom: 47px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43.57px;
}

.nav{
    border: 1px solid black;
}

.mt-content{
    padding-top: 82px;
}

.mt-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mt-item{
    width: 25%;
    max-width: 318px;
    padding-right: 64px;
    padding-bottom: 60px;
}

.philadelphia{
    width: 100%;
    max-width: 305px;
    height: 198px;
}

.item-info{
    padding-top: 27px;
    display: flex;
    justify-content: space-between;
}

.item-info-2{
    padding-top: 46px;
    display: flex;
    justify-content: space-between;
}

.item-info-3{
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
}

.item-info-4{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.item-content h3{
    padding-top: 28px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.5px;
}

.item-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 18.9px;
}

.item-price{
    font-weight: 500;
    font-size: 22px;
    line-height: 26.69px;
}

.price-span{
    font-weight: 500;
    font-size: 14px;
    line-height: 16.98px;
}

.item-btn{
    border: 1px solid #F9B403;
    border-radius: 30px;
    width: 80px;
    text-align: center;
}

.plus-btn, .minus-btn{
    border: none;
}

.item-btn span{
    font-weight: 600;
    font-size: 18px;
}

.item-btn-gray{
    border: 1px solid #E1E1E1;
    border-radius: 30px;
    width: 80px;
    text-align: center;
}

.item-btn-gray span{
    font-weight: 600;
    font-size: 18px;
}

.salats{
    border-color: #F9F9F9;
}

.mt-title-salat{
    text-align: center;
    padding-top: 106px;
    /* padding-bottom: 45px; */
    font-weight: 600;
    font-size: 36px;
    line-height: 43.57px;
}

.salat{
    width: 100%;
    max-width: 264px;
    height: 260px;
}

.mt-title-soup{
    text-align: center;
    padding-top: 152px;
    padding-bottom: 106px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43.57px;
}

.soup{
    width: 100%;
    max-width: 269px;
    height: 257px;
}

.mt-title-hot{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 96px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43.57px;
}

.mt-title-diet{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 110px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43.57px;
}    

.basket-details{
    padding-top: 90px;
    padding-bottom: 36px;
    border-bottom: 1px solid #E0E0E0;
}

.details-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-n{
    padding-left: 547px;
}

.item-name2{
    padding-right: 20px;
}

.basket-img{
    width: 100%;
    max-width: 170px;
}

.basket-item{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 33px;
    border-bottom: 1px solid #E0E0E0;
}

.basket-h{
    font-weight: 600;
    font-size: 20px;
    line-height: 24.5px;    
}

.text{
    font-weight: 400;
    font-size: 14px;
    line-height: 18.9px;
    padding-right: 25px;
}

.basket-price{
    font-weight: 500;
    font-size: 18px;
    line-height: 21.83px;
}

.price{
    font-weight: 500;
    font-size: 20px;
    line-height: 24.69px;
}

.pl-btn, .min-btn{
    border: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.05px;
}

.basket-quantity span{
    font-size: 20px;
    font-weight: 600;
    line-height: 24.5px;
}

.basket-pay{
    font-size: 18px;
    font-weight: 500;
    line-height: 21.83px;
}

.del-btn{
    border: none;
    padding-right: 20px;
}

.basket-option{
    padding-top: 67px;
}

.option-details{
    display: flex;
    justify-content: space-between;
}

.option-back a{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}

.option-order{
    display: flex;
    gap: 77px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
}

.option-total{
    font-size: 27px;
    font-weight: 600;
    line-height: 33.08px;
}

.option-total span{
    font-size: 22px;
    font-weight: 600;
    line-height: 26.95px;
}

.order-btn{
    padding-top: 45px;
    padding-left: 1090px;
    padding-bottom: 150px;
}

.order-btn button{
    width: 344px;
    height: 72px;
    border-radius: 10px;
    border: 1px solid #F9CE03;
    background-color: #F9CE03;
}

.order-btn button a{
    background-color: transparent;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.83px;
}

.page-title{
    font-weight: 600;
    font-size: 36px;
    line-height: 43.57px;
    padding-top: 82px;
    padding-left: 60px;
}

/* .process-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 64px;
}

.process-type{
    display: flex;
    justify-content: space-between;
    gap: 51px;
    padding-left: 60px;
}

.process-del{
     padding-left: 60px; 
    font-weight: 500;
    font-size: 18px;
    line-height: 23.49px;
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}

.process-pu{
    font-weight: 500;
    font-size: 16px;
    line-height: 23.49px;
    color: #8B8B8B;
}

.process-order{
    font-weight: 500;
    font-size: 24px;
    line-height: 31.32px;
    padding-right: 420px;
} */

.row{
    display: flex;
    justify-content: space-between;
}

.mt-tab{
    border: none;
    padding-top: 60px;
    padding-bottom: 56px;
}

.nav-item{
    border-bottom: 1px solid black;
}

.mt-order{
    display: flex;
    border-top: 1px solid #D6D6D6;
    padding-top: 40px;
    padding-bottom: 47px;
}

.mt-order:last-child{
    border-bottom: 1px solid #D6D6D6;
    padding-bottom: 52px;
}

.order-title{
    padding-top: 60px;
    padding-bottom: 62px;
    font-weight: 500;
    font-size: 24px;
    line-height: 31.32px;
}

.order-img{
    max-width: 152px;
    height: 120px;
    margin-right: 15px;
}

.order-img2{
    max-width: 130px;
    height: 100px;
    margin-right: 25px;
}

.order-name h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 24.5px;
}

.order-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 18.9px;
}

.order-prc{
    font-weight: 500;
    font-size: 20px;
    line-height: 26.69px;
}

.order-prc span{
    font-weight: 500;
    font-size: 14px;
    line-height: 16.98px;
}

.order-content2{
    padding-top: 62px;
}

.order-1{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: black;
}

.order-total{
    font-weight: 600;
    font-size: 27px;
    line-height: 33.08px;
}

.order-total span{
    font-weight: 600;
    font-size: 22px;
    line-height: 26.95px;   
}

.order-det{
    display: flex;
    gap: 72px;
    padding-top: 140px;
}

.ord-btn{
    width: 344px;
    height: 72px;
    border-radius: 10px;
    border: 1px solid #F9CE03;
    background-color: #F9CE03;
}

.ord-btn button{
    border: none;
    background-color: #F9CE03;
}

.ord-btn button a{
    background-color: transparent;
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.83px;
}

.opt-back{
    padding-top: 50px;
}

.opt-back a{
    color: black;
    border-bottom: 1px solid black;
    text-decoration: none;
}

.mt-input{
    width: 337px;
    height: 64px;
}

.mt-input2{
    width: 722px;
    height: 64px;
}

.mt-input3{
    width: 722px;
    height: 138px;
}